<!-- Put your News Aggregator articles.erb code here -->
<!doctype html>
<html>
  <head>
    <title>News Aggregator</title>
  </head>

  <body>
    <div class="text-center">
    <h3> Articles </h3>
    <div class="large-12 columns">


    <ul class="menu vertical">
      <div class="callout secondary"
      <% @articles.each do |article| %>
      <li>
        <b>Title:</b>
        <%= article["title"]%>
        <br>
        <b>URL:</b>
        <i>
          <a href="<%= article["url"] %>">
            <%=article["url"]%>
          </a>
        </i>
        <b> Description: </b>
        <%= article["description"]%>
    </li>
      <%end%>
    </div>
    </div>
    </ul>


      <form action="/articles" method="post">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title">

        <label for="url">URL:</label>
        <input type="text" id="url" name="url">

        <label for="description">Description:</label>
        <input type="text" id="description" name="description">
        <input type="submit" value="Submit">
      </form>
</div>
  </body>
</html>
