<!-- Put your News Aggregator new.erb code here -->
<form action="/articles" method="post">
  <label for="title">Title:</label>
  <input type="text" id="title" name="title">

  <label for="URL">URL:</label>
  <input type="text" id="URL" name="URL">

  <label for="Description">Description:</label>
  <input type="text" id="Description" name="Description">
  <input type="submit" value="Submit">
</form>
